[Desktop Entry]
Name=RSS List
Comment=Simple RSS List
Exec=/usr/bin/rss-list
Icon=emblem-documents
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
